body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    margin: o;
    padding: 0;
}

.header-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 14%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.logo, .hero-main-text, .hero-button {
    color: #f9faf8
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 0;
}

.hero-container {
    max-width: 44%;
}

.hero-image {
    background-color: #bcbcbc;
    min-width: 50%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.hero-secondary-text, .nav-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero .hero-secondary-text {
    margin: 6px 0 12px 0;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 96px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 160px;    
}

.info .text {
    color: #1f2937;
    font-size: 18px;
    margin: 6px 0 12px 0;
    text-align: center;  
}

.square-box {
    height: 160px;
    width: 160px;
    border: 4px solid #3882f6;
    border-radius: 18px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1f2937;
    font-weight: 700;
}

.quote-container {
    margin: 8% 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container :nth-child(2) {
    align-self: flex-end;
    margin-right: 50px;
}

.cta-container {
    background-color: #3882f6;
    margin: 8% 14%;
    padding: 4% 7%;
    border-radius: 8px;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.cta-text {
    color: #f9faf8;
}

.cta-text-main {
    font-size: 24px;
    font-weight: 700;
}

.cta-text-secondary, .footer-text {
    font-size: 18px;
    color: #e5e7eb;
}

.cta-button {
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 8px 36px;
    display: flex;
    flex: 0 0 150px;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 3% 0;
}